*{
  margin: 0;
  padding: 0;
  font-family: Arial, 微软雅黑, "Microsoft Yahei";
}
ul,li{list-style: none;}
a{
  text-decoration: none;
  color: #303445;
}
/*@font-face {
  font-family: "fontLight";
  src: url("../font/SourceHanSansCN-Light.otf");
}*/
.banner-section{
  position: relative;
  height: 520px;
  background-image: url("../images/aboutbanner.png");
  background-size: cover;
}
.banner-text{
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding-top: 117px;
  font-size: 24px;
  line-height: 60px;
  color: #fff;
}
.banner-text p:first-child{
  font-size: 48px;
  line-height: 84px;
}
.banner-text p:nth-child(3){
  margin-top: 43px;
}
.banner-text p:nth-child(3) a{
  color: #fff;
}
.banner-text p:nth-child(3) img{
  position: relative;
  top: 7px;
  padding-left: 10px;
  width: 30px;
}
/*视频开始*/
@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.banner-video.banner-video-out {
  display: none;
}
.banner-video.banner-video-in {
  display: table;
  -webkit-animation: opacity .4s ease forwards;
          animation: opacity .4s ease forwards;
}
.banner-video {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: rgba(0,0,0,1);
  opacity: 0;
}
.banner-video-cell {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  font-size: 16px;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 100%;
}
.banner-video-btn-close {
  position: absolute;
  width: 30px;
  height: 29px;
  background-image: url("../images/close_x.png");
  background-repeat: no-repeat;
  top: 50px;
  right: 50px;
  z-index: 3;
}
.banner-video-player {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
video {
  -o-object-fit: contain;
     object-fit: contain;
}
/*视频结束*/
.gallery-section{
  height: 100px;
  position: absolute;
  width: 100%;
  bottom: 0px;
  background: rgba(255,255,255,.1);
}
.gallery-list{
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.gallery-list li{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  width: 25%;
  height: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 1px solid rgba(255,255,255,.3);
}
/* .gallery-list li:last-child{
  border: none;
} */
.gallery-list li > a{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gallery-list li img{
  margin: 0 15px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform .1s ease;
  transition: -webkit-transform .1s ease;
  transition: transform .1s ease;
  transition: transform .1s ease, -webkit-transform .1s ease;
}
.gallery-list li:hover img{
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.gallery-list li .text{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 160px;
  height: 32px;
}
.gallery-list .text p:first-child{
  font-size: 16px;
  color: #fff;
}
/* .gallery-list li:hover .text p:first-child{
  color: #3091f2;
} */
.gallery-list .text p:last-child{
  font-size: 14px;
  color: #fff;
}
.intro-section{
  height: 495px;
  background: #fafafa;
}
.intro-section .intro{
  width: 1200px;
  margin: 0 auto;
  padding-top: 70px;
}
.intro-section .intro-title{
  padding-bottom: 30px;
  font-size: 30px;
  color: #303445;
  text-align: center;
  line-height: 30px;
}
.intro-section .intro-description{
  padding-bottom: 46px;
  line-height: 24px;
  font-size: 16px;
  color: #59607b;
  text-align: center;
}
.intro-section .intro-gallery{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 46px;
}
.intro-section .intro-gallery li{
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
.intro-gallery li p:first-child{
  font-size: 62px;
  color: #3091f2;
  line-height: 62px;
  font-family: "微软雅黑";
}
.intro-gallery li p:first-child span{
  font-size: 50px;
  font-family: "微软雅黑";
}
.intro-gallery li p:last-child{
  font-size: 16px;
  color: #59607b;
  line-height: 56px;
}
.intro-section .more-intro{
  display: block;
  width: 118px;
  height: 38px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 60px;
  border: 1px solid #3091f2;
  border-radius: 2px;
  line-height: 38px;
  text-align: center;
  color: #3091f2;
}
.intro-section .more-intro:hover{
  background: #3091f2;
  color: #fff;
}
.progress-section{
  height: 330px;
  background-image: url("../images/progress_bg.jpg");
  background-size: cover;
}
.progress-section .progress-content{
  width: 1200px;
  margin: 0 auto;
  padding-top: 115px;
  overflow: hidden;
}
.progress-detail{
  position: relative;
  padding-left: 110px;
  padding-right: 20px;
  float: left;
}
.progress-list{
  height: 170px;
  width: 736px;
}
.progress-list:before{
  position: absolute;
  top: 30px;
  left: 70px;
  content: "";
  width: 2px;
  height: 111px;
  background-color: #3091f2;
}
.progress-list > li{
  position: absolute;
  top: 0;
  left: 110px;
  width: 734px;
  height: 168px;
  padding: 14px 24px;
  border: 1px solid #d5d4d9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
}
.progress-list > li:before{
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 11px;
  height: 18px;
  background-image: url("../images/left_arrow.jpg");
  background-repeat: no-repeat;
  background-color: #fff;
}
.progress-list > li:nth-child(4):before{
  top: 130px;
  left: -9px;
}
.progress-list > li:nth-child(3):before{
  top: 94px;
  left: -9px;
}
.progress-list > li:nth-child(2):before{
  top: 58px;
  left: -9px;
}
.progress-list > li:nth-child(1):before{
  top: 22px;
  left: -9px;
}
.progress-list > li p:nth-child(1){
  font-size: 18px;
  color: #303445;
  line-height: 30px;
}
.progress-list > li p:nth-child(2){
  line-height: 22px;
  font-size: 14px;
  color: #303445;
}
.progress-text{
  float: left;
}
.progress-text p:nth-child(1){
  padding-bottom: 50px;
  font-size: 30px;
  color: #303445;
  line-height: 30px;
}
.progress-text p:nth-child(2){
  padding-bottom: 34px;
  font-size: 16px;
  color: #59607b;
  line-height: 16px;
}
.progress-text .more-progress{
  display: block;
  width: 118px;
  height: 38px;
  border: 1px solid #3091f2;
  border-radius: 2px;
  line-height: 38px;
  text-align: center;
  color: #3091f2;
}
.progress-index{
  position: absolute;
  left: 0;
  top: 0;
  width: 110px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.progress-index li{
  position: relative;
  font-size: 16px;
  line-height: 35px;
  color: #59607b;
  cursor: pointer;
}
.progress-index li i{
  position: absolute;
  right: 30px;
  top: 10px;
  content: "";
  width: 8px;
  height: 8px;
  margin: 5px;
  border-radius: 50%;
  background-color: #3091f2;
}
.progress-index li i::after{
  position: absolute;
  top: -6px;
  left: -6px;
  content: "";
  width: 18px;
  height: 18px;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
}
.progress-index li.active i::after{
  border: 1px solid rgba(48,145,242,0.2);
  background: rgba(48,145,242,0.1);
}
.team-section{
  height: 478px;
}
.team-section .team-content{
  width: 1200px;
  margin: 0 auto;
  padding-top: 43px;
}
.team-content .team-title{
  text-align: center;
  line-height: 60px;
  font-size: 30px;
  color: #303445;
}
.team-content .team-description{
  text-align: center;
  font-size: 16px;
  line-height: 46px;
  color: #59607b;
}
.team-content .team-intro{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 25px;
}
.team-intro > li{
  width: 171px;
  height: 204px;
  margin: 0 24px;
  background-color: #f2f2f2;
}
.team-intro > li p:nth-child(1){
  padding-top: 20px;
  padding-left: 13px;
  font-size: 22px;
  line-height: 22px;
  color: #303445;
}
.team-intro > li p:nth-child(2){
  padding-left: 13px;
  padding-top: 5px;
  margin-bottom: 25px;
  font-size: 12px;
  line-height: 12px;
  color: #303445;
}
.team-intro > li p:nth-child(3),
.team-intro > li p:nth-child(4){
  padding-left: 13px;
  font-size: 12px;
  color: #303445;
  line-height: 24px;
}
.service-section{
  position: relative;
  height: 370px;
  /* background-image: url("../images/map_bg.jpg"); */
  background-size: cover;
  background: #F2F2F2;
}
.service-content{
  width: 1200px;
  margin: 0 auto;
}
.service-content .service-title{
  padding-top: 70px;
  padding-bottom: 20px;
  font-size: 30px;
  color: #2f3545;
}
.service-content .service-title p{
  font-size: 14px;
  line-height: 24px;
}
.service-list{
  height: 145px;
}
.left-side{
  float: left;
  width: 220px;
  height: 100%;
  border-right: 1px solid #d6d4df;
}
.left-side.left-side li{
  margin-bottom: 10px;
}
.left-side li p:nth-child(1){
  line-height: 32px;
  font-size: 14px;
  color: #303445;
}
.left-side li p:nth-child(2){
  line-height: 37px;
  font-size: 24px;
  color: #3092f3;
}
.right-side{
  float: left;
  padding-left: 48px;
  width: 240px;
  height: 100%;
}
.right-side p:nth-child(1){
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 18px;
  line-height: 25px;
  color: #303445;
}
.right-side p:nth-child(2){
  font-size: 14px;
  line-height: 14px;
  color: #303445;
}
.right-side p:nth-child(3){
  margin-top: 48px;
}
.right-side p:nth-child(3) a{
  display: block;
  width: 118px;
  height: 38px;
  border: 1px solid #3091f2;
  border-radius: 2px;
  line-height: 38px;
  text-align: center;
  color: #3091f2;
}
.right-side p:nth-child(3) a:hover{
  background: #3091f2;
  color: #fff;
}
.company-address{
  position: absolute;
  top: 47.3%;
  right: 29.7%;
  width: 3.3%;
  height: 17.5%;
}
.company-address p{
  display: none;
  position: absolute;
  top: -45px;
  left: -100%;
  width: 200px;
  height: 30px;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #d5d4d9;
  background-color: #fff;
}
.company-address p:after{
  position: absolute;
  bottom: -13px;
  left: 86px;
  content: "";
  width: 11px;
  height: 18px;
  background-image: url(../images/left_arrow.jpg);
  background-repeat: no-repeat;
  background-color: #fff;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
}
.company-address:hover p{
  display: block;
}
/*悬浮窗*/
.back-top{
  position: fixed;
  right: 34px;
  bottom: 20px;
  padding: 5px;
  width: 30px;
  height: 30px;
  background: #3091f2;
  border-radius: 3px;
  cursor: pointer;
}
.back-top svg{
  width: 100%;
  height: 100%;
}
.nav_top{
  width: 40px;
  height: 175px;
  position: fixed;
  bottom: 30px;
  right: 35px;
  z-index: 999999;
  font-size: 12px;
  font-weight: lighter;
  font-family: 'Microsoft Yahei';
}
.nav_top > span {
  position: relative;
  display: block;
  margin-bottom: 5px;
  height: 40px;
  background: #3091f2;
  box-shadow: 0px 0px 2px #3091f2;
}
.nav_top > span:hover {
  background: #44a0fc;
}
.nav_top .nav_help .help-tip,
.nav_top .nav_phone .phone-tip,
.nav_top .scrollTop .top-tip,
.nav_top .nav_senior .senior-tip{
  display: none;
  text-align: center;
  line-height: 17px;
  padding: 4px 5px;
  color: #fff;
}
.nav_top .nav_help:hover .help-tip,
.nav_top .nav_phone:hover .phone-tip,
.nav_top .nav_phone:hover .phone-num,
.nav_top .scrollTop:hover .top-tip,
.nav_top .nav_senior:hover .senior-tip{
  display: block;
}
.nav_top .nav_help:hover .use,
.nav_top .nav_phone:hover .use,
.nav_top .scrollTop:hover .use,
.nav_top .nav_senior:hover .use{
  display: none;
}
.nav_top > span a{
  display: block;
  width: 100%;
  height: 100%;
}
.nav_top .use{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 60%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.nav_top .scrollTop .use{
  width: 80%;
  height: 80%;
}
.nav_top > span svg{
  width: 100%;
  height: 100%;
}
.nav_top .nav_phone .phone-num{
  display: none;
  position: absolute;
  left: -134px;
  top: 5px;
  width: 120px;
  height: 30px;
  background: #3091f2; 
  color: white;
  line-height: 30px;
  text-align: center;
  box-shadow: 0px 0px 2px #3091f2;
}
.nav_top .nav_phone .phone-num:before{
  position: absolute;
  right: -14px;
  top: 9px;
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-left-color: #3091f2;
}
/*代理扶持*/
.agency-support {
  height: 560px;
  text-align: center;
}
.agency-support-title{
  font-size: 30px;
  color: #303445;
}
.agency-support-text1{
  font-size: 18px;
  color: #303445;
}
.agency-support-text2{
  font-size: 14px;
  color: #59607b;
}
.agency-support-content1 div, .agency-support-content2 div{
  display: inline-block;
  margin: 0 63px;
}
.agency-support-content1{
  margin-top:68px;
}
.agency-support-content2{
  margin-top: 96px;
}
.agency-support-text1{
  margin-top: 17px;
}
.agency-support-text2{
  margin-top: 14px;
  width: 196px;
}


/* 添加功能 */
.banner-right{
  width: 495px;
  height: 386px;
  position: absolute;
  top: 15px;
  right: 324px;
}
.develop-section{
  width: 100%;
}
.develop-section .develop{
  width: 1200px;
  margin: 0 auto;
  padding-top: 70px;
}
.develop-section .develop-title{
    padding-bottom: 30px;
    font-size: 30px;
    color: #303445;
    text-align: center;
    line-height: 30px;
}
.develop-years{
  border-bottom: 3px solid #3091F2;
  width: 1200px;
  padding-top: 17px;
}
.develop-years ul{
  padding-left: 15px;
}
.develop-years ul li{
  display: inline-block;
  color: #3091F2;
  font-size: 30px;
  width: 33%;
  padding-bottom: 15px;
  position: relative;
}
.develop-years ul li:after{
  position: absolute;
  top: 45px;
  left: 0;
  content: "";
  width: 12px;
  height: 12px;
  background-color: #3091f2;
  border-radius: 50%;
}
.develop-mes{

}
.develop-mes ul{
  padding-left: 15px;
  margin-top: 40px;
}
.develop-mes ul li{
  display: inline-block;
  width: 33%;
  font-size: 14px;
  color: #59607B;
  vertical-align: top;
}
.develop-mes ul li p{
  line-height: 25px;
}
.develop-mes ul li img{
  width: 276px;
  height: 272px;
  margin-top: 10px;
  margin-left: 70px;
}
.context-section{
  width: 100%;
  height: 520px;
  margin-top: 54px;
  background-image: url("../images/aboutscontext.png")
}
.context-section .context{
  width: 1200px;
  margin: 0 auto;
  padding-top: 79px;
}
.context-section .context-title{
    padding-bottom: 70px;
    font-size: 30px;
    color: #fff;
    text-align: center;
    line-height: 30px;
}
.context ul{
}
.context ul li{
  display: inline-block;
  color: #fff;
  margin-left: 100px;
}
.context ul li img{
  vertical-align: top;
  padding-top: 12px;
  padding-right: 20px;
}
.context ul li .liRight{
  display: inline-block;
}
.context ul li .liRight p:first-child{
  font-size: 48px;
  padding-bottom: 12px;
}
.context ul li .liRight p:last-child{
  font-size: 16px;
}
.family-section{
  width: 100%;
  height: 499px;
  margin-top: 72px;
  position: relative;
}
.family-section:hover .family-wrap{
  display: none;

}
.family-wrap{
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.5);
  width: 100%;
  height: 499px;
  text-align: center;
  z-index: 99;
  color: #fff;
}
.family-wrap .family-wrap-title{
  padding-top: 50px;
  padding-bottom: 22px;
  font-size: 30px;
}
.family-wrap .family-wrap-info{
  font-size: 18px;
}
.recruit-section{
  width: 100%;
  margin-bottom: 186px;
}
.recruit-section .recruit{
  width: 1200px;
  margin: 0 auto;
  padding-top: 70px;
}
.recruit-section .recruit-title{
  font-size: 30px;
  color: #303445;
  text-align: center;
}
.recruit ul{
  margin-top: 32px;
}
.recruit ul li{
  display: inline-block;
  color: #303445!important;
  font-size: 22px;
  text-align: center;
  margin-right: 200px;
}
.recruit ul li img:hover{
  opacity: .8;
}
.recruit ul li:first-child{
  margin-left: 75px;
}
.recruit ul li:last-child{
  margin-right: 0;
}
.recruit ul li img{
  width: 112px;
  height: 112px;
}
/* 资质证书 */
.aptitude-section{
  width: 100%;
  margin-top: 65px;
}
.aptitude-section .aptitude-left{
  display: inline-block;
  /* margin-left: 356px; */
  width: 276px;
  height: 300px;
  color: #303445;
  vertical-align: top;
  margin-right: 20px;
  float: right;
}
.aptitude-btns{
  margin-top: 70px;
}
.aptitude-btns img{
  cursor: pointer;
}
.aptitude-btns img:hover{
  opacity: .8;
}
.aptitude-left P:first-child{
  font-size: 30px;
}
.aptitude-left P:last-child{
  font-size: 12px;
  padding-top: 22px;
}
.aptitude-section .aptitude-right{
  display: inline-block;
  width: 65%;
  height: 307px;
  overflow: hidden;
  position: relative;
}

.aptitude-list{
  height: 300px!important;
  position: absolute;
  left: 0;
  top: 3px;
  width: 3500px;
  
}
.aptitude-list li{
  width: 201px!important;
  height: 300px;
  box-shadow:0px 0px 8px rgba(0,0,0,0.15);
  float: left;
  color: #59607B;
  padding: 0 30px;
  margin-left: 42px;
  margin-bottom: 2px;

}
/* .aptitude-list li:hover {
  -webkit-box-shadow: 0px 10px 20px rgba(226, 226, 226, .8);
  box-shadow: 0px 10px 20px rgba(226, 226, 226, .8);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
} */
.aptitude-list li img{
  width: 115px;
  height: 117px;
  margin: 0 auto;
  margin-top: 20px;
  margin-left: 47px;
}
.aptitude-list li .aptitude-title{
  font-size: 14px;
  margin-bottom: 17px;
  text-align: center;
}
.aptitude-list li .aptitude-info{
  font-size: 12px;
  width: 202px;
  height: 50px;
  line-height: 18px;
}
.aptitude-list li .aptitude-submit{
  width:120px;
  height:38px;
  border: 1px solid #9FA5BB;
  line-height: 38px;
  text-align: center;
  margin: 0 auto;
  border-radius: 2px;
  margin-top: 12px;
  cursor: pointer;
  font-size: 14px;
  display: block;
  color: #59607B;
}
.aptitude-list li .aptitude-submit:hover{
  color: #fff;
  background: #3091F2;
  border: 1px solid #3091F2;
}
/* 联系我们的地图 */
.service-map{
  display: inline-block;
  width: 682px;
  height: 249px;
  margin-top: 55px;
}
.service-self{
  display: inline-block;
  vertical-align: top;
}