@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon_1.eot');
  src:  url('../fonts/icomoon_1.eot') format('embedded-opentype'),
    url('../fonts/icomoon_1.ttf') format('truetype'),
    url('../fonts/icomoon_1.woff') format('woff'),
    url('../fonts/icomoon_1.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e61f";
}
.icon-closecircle:before {
  content: "\e62e";
}
.icon-closecircleo:before {
  content: "\e62f";
}
.icon-checkcircle:before {
  content: "\e630";
}
.icon-checkcircleo:before {
  content: "\e631";
}
.icon-check:before {
  content: "\e632";
}
.icon-close:before {
  content: "\e633";
}
.icon-star:before {
  content: "\e660";
}
.icon-staro:before {
  content: "\e661";
}
.icon-actWeixin:before {
  content: "\e900";
}
.icon-course-person:before {
  content: "\e907";
}
.icon-be-lecturer:before {
  content: "\e90c";
}
.icon-learn:before {
  content: "\e90d";
}
.icon-dataTime:before {
  content: "\e90e";
}
.icon-more:before {
  content: "\e90f";
}
.icon-eye:before {
  content: "\e910";
}
.icon-edit2:before {
  content: "\e911";
}
.icon-flower:before {
  content: "\e912";
}
.icon-look-qrcode:before {
  content: "\e913";
}
.icon-qq:before {
  content: "\e914";
}
.icon-qrcode:before {
  content: "\e915";
}
.icon-search2:before {
  content: "\e917";
}
.icon-trophy:before {
  content: "\e918";
}
.icon-weibo:before {
  content: "\e919";
}
.icon-weixin:before {
  content: "\e91a";
}
.icon-zone:before {
  content: "\e91b";
}
.icon-comment:before {
  content: "\e91c";
}
.icon-comment-solid:before {
  content: "\e91d";
}
.icon-copy:before {
  content: "\e91e";
}
.icon-douban:before {
  content: "\e91f";
}
.icon-product:before {
  content: "\e920";
}
.icon-mini-app:before {
  content: "\e921";
}
.icon-go-top:before {
  content: "\e922";
}
.icon-dryMarket:before {
  content: "\e923";
}
.icon-lecturer:before {
  content: "\e924";
}
.icon-course:before {
  content: "\e925";
}
.icon-cate:before {
  content: "\e926";
}
.icon-market:before {
  content: "\e927";
}
.icon-featured:before {
  content: "\e928";
}
.icon-videPlay:before {
  content: "\e929";
}
.icon-uniE92A:before {
  content: "\e92a";
}
.icon-sort-by-down:before {
  content: "\e92b";
}
.icon-uniE92C:before {
  content: "\e92c";
}
.icon-address:before {
  content: "\e92d";
}
.icon-newsFrist:before {
  content: "\e92e";
}
.icon-order-by:before {
  content: "\e92f";
}
.icon-order-by-up:before {
  content: "\e930";
}
.icon-order-by-down:before {
  content: "\e931";
}
.icon-uniE932:before {
  content: "\e932";
}
.icon-sort-by-up:before {
  content: "\e933";
}
.icon-gou2:before {
  content: "\e979";
}
.icon-uniF0DE:before {
  content: "\f0de";
}
.icon-agent-video:before {
  content: "\e901";
}
