/* 导航 */
.nav-wrap{
    background: #fff;
    z-index: 99999;
    width: 100%;
    height: 58px;
    line-height: 58px;
    color: #2b2b2b;
    font-weight: normal;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
body.webapp{
    padding-top: 58px;
}
body.webapp .nav-wrap{
    position: fixed;
    top: 0;
}
.webapp .nav-wrap{
    background: #fff;
}
.nav-wrap .nav-logo{
    width: 25%;
    height: 100%;
    float: left;
    text-align: center;
    font-size: 22px;
}
.nav-logo img{
    width: 35px;
    margin-right: 6px;
    vertical-align: middle;
}
.nav-logo a {
    color: #2b2b2b;
    display: block;
    position: relative;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.nav-wrap .top-menu {
    /*position: relative;*/
    width: 50%;
    float: left;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-family:"Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.menu-one{
    position: relative;
    width: 14%;
    /* height: 100%; 不知受什么影响，设100%时实际高度为82px而不是父容器的高度58px */
    height: 58px;
    z-index: 1;
}
.menu-one.active > a{
    color: #3091f2;
}
#js-custom-btn, .check_login{
    cursor: pointer;
}
.menu-one ul{
    display: none;
    position: absolute;
    left: 0px;
    top: 58px;
    width: 106%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
li.menu-one.check_login:hover{
    color: #3091f2;
}
.menu-one:hover ul{
    display: block;
}
.menu-one a:hover{
    color: #3091f2;
}
.serve_ico{
    background-image: url(http://cdn.jisuapp.cn/static/pc/index/img/serve_ico2.svg );
    width: 13px;
    height: 17px;
    display: inline-block;
    margin: -9px 7px;
    background-size: 13px;
    background-repeat: no-repeat;
}
.serve:hover span,.menu-one.active .serve_ico{
    background-image: url(http://cdn.jisuapp.cn/static/pc/index/img/serve_ico1.svg );
    width: 13px;
    height: 17px;
    display: inline-block;
    margin: -9px 7px;
    background-size: 13px;
    background-repeat: no-repeat;
}
.menu-one > a{
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #2b2b2b;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*#webapp_icon{
    position: absolute;
    top: 17px;
    right: -25px;
    width: 38px;
}*/
.menu-one .menu-two{
    width: 100%;
    height: 46px;
    line-height: 42px;
    background-color: #fff;
}
.menu-one .menu-two:hover{
    background-color: #3091f2;
}
.menu-one .menu-two:hover a{
    color:#fff;
}
li.menu-two.check_login:hover{
    color:#fff;
}
.menu-one .menu-two > a{
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #2b2b2b;
}

.nav-wrap .nav-login{
    width: 25%;
    height: 100%;
    float: right;
}
.nav-login .login-span-wrap {
    text-align: center;
}
.nav-login .login-span-wrap span{
    padding: 6px 15px;
    cursor: pointer;
    line-height: 24px;
    border-radius: 2px;
    border: 1px solid #3091f2;
    color: #0391f2;
}
span.nav-lglogin:hover{
    color: #fff;
    background-color: #48a4ff;
}
.login-span-wrap span.nav-reg{
    color: #fff;
    background-color: #3091f2;
}
span.nav-reg:hover{
    background-color: #48a4ff;
}

.nav-lglogin,.nav-reg{
    /*border: 1px solid #36b0e5;*/
    /*background-color: #747474;*/
    margin-right: 8px;
}
/*.nav-login .login-span-wrap span{
    padding: 6px 15px;
    cursor: pointer;
    line-height: 24px;
    border-radius: 5px;
}*/
/*.nav-login span:first-child {
	border-right: 1px solid #fff;
	margin-right: -3px;
}*/
.nav-lglogin{

    margin-right: 8px;
}
.perfit-phone-exist{
    margin-right: 8px;
}
/*.nav-lglogin:hover {
	background-color: #36b0e5;
}*/
/*.nav-reg{
	border: 1px solid #37bf61;
}*/
/*.nav-reg:hover{
	background-color: #36b0e5;
}*/
.nav-center {
    width: 170px;
    height: 100%;
    text-align: center;
    font-size: 14px;
    margin: 0 auto;
}
.nav-center span{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 70%;
    vertical-align: middle;
    display: inline-block;
}


.nav-img {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-right: 10px;
    vertical-align: middle;
}
/*.nav-center ul {
	left: -62px;
	width: 120px;
}*/
/*.red-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: 14px;
  margin-top: -12px;
  border: 3px solid #fe7000;
  border-radius: 50%;
}*/
#change-account-type {
    font-size: 14px;
    cursor: pointer;
}
#change-account-type label {
    margin-right: 10px;
    font-size: 18px;
}
.nav-vip-logo {
    width: 20px;
    margin-left: 6px;
}

/* 导航完 */

/*定制需求发布框*/
/*.custom-box {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 999999;
}
.custom-box .custom-content {
	width: 640px;
	margin-top: 120px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 15px;
	background-color: #fff;
	color: #9e9e9e;
}
.custom-box .custom-title {
	line-height: 35px;
	color: #fff;
	text-indent: 10px;
	font-size: 16px;
	background-color: #00A0EA;
}
.custom-box .custom-title span {
	float: right;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  margin-top: 9px;
  background-image: url(http://cdn.jisuapp.cn/zhichi_frontend/static/pc2/common/images/close_white.png);
  background-size: 16px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.custom-box .custom-inputs {
	margin-top: 30px;
	margin-bottom: 30px;
}
.custom-box label {
	display: inline-block;
	width: 100px;
	margin-bottom: 10px;
	text-align: right;
}
.custom-box input {
	width: 200px;
	line-height: 25px;
	margin-bottom: 10px;
	border: 1px solid #9e9e9e;
}
.custom-box #budget-select {
	width: 200px;
	line-height: 25px;
}
.custom-box textarea {
	width: 502px;
	height: 50px;
	resize: none;
	vertical-align: top;
	border: 1px solid #9e9e9e;
}
.custom-box p {
	text-indent: 28px;
}
.custom-box #custom-statement-tip {
	margin-top: 10px;
	color: #ceaa9a;
	cursor: pointer;
}
.custom-box #custom-statement {
	display: none;
	height: 80px;
	padding: 5px;
	margin-left: 28px;
	margin-right: 36px;
	border: 1px solid #9e9e9e;
	overflow-y: scroll;
	text-indent: 28px;
}
.custom-box #custom-statement a {
	color: #00aae2;
	text-decoration: underline;
}
.custom-box .submit-btn {
	display: block;
	width: 150px;
	line-height: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	text-align: center;
	color: #fff;
	background-color: #01aae3;
	cursor: pointer;
}*/
/*定制需求发布框*/
.massage {
    width: 30px;
    display: inline-block;
    float: right;
}
.massage a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.massage img {
    width: 25px;
    top: 10px;
    position: relative;
    margin-right: 15px;
}

/*-----------SEO --------------*/
.nav-logo-img{
    background-image: url(../images/syj_logo.png);
    background-repeat: no-repeat;
    background-size: auto 41px;
    background-position: center center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.nav-logo-img h1{
    display: none;
    position: absolute;
}
/*.nav-logo-img:after{
	content: "即速应用";
    color: #2b2b2b;
    position: absolute;
    left: 213px;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow: hidden;
}*/
.nav-logo .logo-img{
    height: 41px;
    width: initial;
    line-height: 40px;
    font-size: 16px;
}
/*兑换券*/
#voucher {
    background: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: none;
}
#voucher .voucherTitle {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color: #848484;
    background: #f2f2f2;
    padding: 0 22px;
}
#voucher img.voucherCancel{
    position: absolute;
    top: 17px;
    right: 20px;
    width: 15px;
    cursor: pointer;
    height: 15px;
}
#voucher .purchaseExchange,#voucher .enterData{
    width: 426px;
    height: 260px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -213px;
    margin-top: -130px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    color: #616161;
    padding-bottom: 17px;
}
.enterData .enterDataContent {
    padding: 20px 55px 20px 40px;
}
#voucher .specialExchange,#voucher .isRedeemed {
    padding: 40px 40px 20px 40px;
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -213px;
    margin-top: -56px;
    background: #fff;
    border-radius: 4px;
    display: none;
    color: #616161;
}
.enterData .VoucherCode {
    line-height: 24px;
    width: calc( 100% - 102px);
}
.enterData .VerificationCode {
    line-height: 24px;
    width: 100px;
}
.enterData .contentTitle {
    width: 100px;
    display: inline-block;
    text-align: right;
}
.purchaseExchange img {
    width: 70px;
    height: 70px;
}
#voucher .purchaseExchange-content {
    text-align: center;
}
#voucher .purchaseExchange-content > div {
    display: inline-block;
    margin: 40px 34px;
}
.purchase-btn {
    border: 1px solid #3091F2;
    padding: 5px 23px;
    color: #3091F2;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 4px;
}
.sureData,.sureSubmit,.sureSpecialExchange {
    padding: 0 20px;
    line-height: 30px;
    color: #fff;
    background: #3091F2;
    border-radius: 4px;
}
.goBack-btn,.sureData,.RedeemedCancel,.sureSubmit,.sureSpecialExchange {
    display: inline-block;
    margin-left: 30px;
    cursor: pointer;
}
.VerificationImg {
    height: 28px;
    vertical-align: middle;
    float: right;
    width: 90px;
}
.goBack-btn:hover,.RedeemedCancel:hover {
    color: #3091F2;
}
.sureData:hover,.sureSubmit:hover,.sureSpecialExchange:hover {
    background: rgba(48,145,242,0.8)
}
#voucher .specialExchange a{
    text-decoration: underline;
    color: #3091F2;
}
.feng-img{
    position: absolute;
    left: 62%;
    top: 5px;
}
